html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 20px;
  color-scheme: dark;
  color: #eaeaea;
  padding-top: 0;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.loading-overlay {
    position: fixed;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.45);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
}